<section class="section_perfil_event">
  <table>
    <tr>
      <td rowspan="4" class="foto_events_new">
        <a href="<%= user_path(@current_user) %>">
          <%= gravatar_for @current_user, :size => 80 %>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <h2 class="nombre_enew">
          <%= @current_user.name %>
        </h2>
      </td>
    </tr>
    <tr>
      <td>
            <span>
                <%= link_to "Ver mi perfil", @current_user %>
            </span>
      </td>
    </tr>
    <tr>
      <td>
            <span>
                <%= pluralize(@current_user.events.count, "event") %>
            </span>
      </td>
    </tr>
  </table>
</section>

<section class="section_blog_form">
  <h2>Crear un blog</h2>
  <%= form_for @blog do |f| %>
      <% if @blog.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-error">
              The form contains <%= pluralize(@blog.errors.count, "errore") %>.
            </div>
            <ul>
              <% @blog.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :name, "Nombre" %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :content, "Contenido" %>
        <%= f.text_area :content, :rows => 10 %>

      </div>

      <%= f.submit "Post", :class => "btn btn-large btn-primary" %>
  <% end %>
</section>