<h1>Usuarios</h1>

<div class="buscador">
    <%= form_tag request.path, :method => 'get' do  %>
        <%= content_tag :label do %>
            <h5>Ingrese el nombre</h5>
            <%= text_field_tag :search, params[:search] %>
        <% end %>
    <% end %>
</div>

<div class="apple_pagination">
  <%= page_entries_info @user, :model => 'User'%>
  <%= will_paginate @user %>
</div>

<ul class="users">
  <table>
  <% @user.each do |user| %>
        <tr>
          <td>
          <li class="gravatar_index">
                <%= gravatar_for user, :size => 100%>
          </li>
          </td>
          <td>
             <li>
              <%= link_to user.name, user %>
            </li>

            <li>
              <%= link_to user.email, user %>
            </li>
          </td>
        </tr>

  <% end %>
  </table>
</ul>

<div class="apple_pagination">
  <%= page_entries_info @user, :model => 'User'%>
  <%= will_paginate @user %>
</div>