<div class="entrada">
<h1>Registro</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

        <% if @user.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                El formulario contiene <%= pluralize(@user.errors.count, "errore") %>.
              </div>
              <ul>
                <% @user.errors.full_messages.each do |error_msg| %>
                    <li>
                      <%= error_msg %>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.label :name, "Nombre" %>
        <%= f.text_field :name %>

        <%= f.label :email, "Correo" %>
        <%= f.text_field :email %>

        <%= f.label :password, "Contraseña" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmar contraseña" %>
        <%= f.password_field :password_confirmation %>

        <br/>
        <%= f.submit "Crear cuenta", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
  <div class="redes_2">
    <h5>Puedes ingresar con estas cuentas</h5>
    <ul>
      <li><%= link_to (image_tag("twitter_icon.png", :class => "img-rounded")), "/auth/twitter", :title => "Twitter" %></li>
      <li><%= link_to (image_tag("facebook_icon.png", :class => "img-rounded")), "/auth/facebook", :title => "Facebook" %></li>
    </ul>
  </div>
</div>