<table class="profile" summary="Profile information">
  <%= gravatar_for @user, :size => 150 	%>
  <tr>
    <td>
      <h1>
        <%= @user.name %>
      </h1>
    </td>
    <td class ="sidebar round" >
      <strong>
        Nombre
      </strong>
      <%= @user.name%>
      <br>
      <strong>
        URL
      </strong>
      <%= link_to user_path(@user), "/users/#{@user.id}"%>
      <br>
      <strong>
        Email
      </strong>
      <%= @user.email %>
      <br>
      <% if current_user?(@user) %>
        <%= link_to "Editar informacion", edit_user_path(@user) %>
          <br>
        <a href="http://gravatar.com/emails/" target=_blank> Cambiar foto</a>
      <% end %>
    </td>

  </tr>
</table>
