<table class="profile" summary="Profile information">
  <%= gravatar_for @user, :size => 150 	%>
  <tr>
    <td>
      <h1>
        <%= @user.name %>
      </h1>
    </td>
    <td class ="sidebar round" >
      <strong>
        Nombre
      </strong>
      <%= @user.name%>
      <br>
      <strong>
        URL
      </strong>
      <%= link_to user_path(@user), "/users/#{@user.id}"%>
      <br>
      <strong>
        Email
      </strong>
      <%= @user.email %>
      <br>
      <% if current_user?(@user) %>
        <%= link_to "Editar informacion", edit_user_path(@user) %>
          <br>
        <a href="http://gravatar.com/emails/" target=_blank> Cambiar foto</a><br>
        <%= link_to "Nuevo evento", new_event_path %><br>
        <%= link_to "Nuevo blog", new_blog_path %><br>
        <%= link_to "Invitaciones", "/invitations/invitation_user" %>
      <% end %>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <%= render 'follow_form' if signed_in? %>
    </td>
  </tr>
</table>

<table id="table_event" class="table">
  <tr>
    <td></td>
    <td><h2>Eventos (<%= @user.events.count %>)</h2></td>
    <td></td>
  </tr>
  <tr class="table_head">
    <td>Nombre</td>
    <td>Creacion</td>
    <td colspan="2">Opciones</td>
  </tr>
    <% @events.each do |event| %>
  <tr class="table_body">
            <td>
              <%= event.name %>
            </td>
            <td>
                Posted <%= time_ago_in_words(event.created_at) %> ago.
            </td>
   <td>
    <div class="button_group">
      <ul>
        <li><%= link_to "Ver",  event_path(event), :class => "minibutton"%></li>
        <li><%= link_to "Editar", edit_event_path(event), :class => "minibutton" %></li>
      </ul>
    </div>
   </td>
  </tr>

    <% end %>
  <tr>
    <td colspan="3"><%= will_paginate @events %></td>
  </tr>
</table>

<table id="table_blog" class="table">
  <tr>
    <td></td>
    <td><h2>Blog (<%= @user.blogs.count %>)</h2></td>
    <td></td>
  </tr>
  <tr class="table_head">
    <td>Nombre</td>
    <td>Creacion</td>
    <td colspan="2">Opciones</td>
  </tr>
  <% @blogs.each do |blog| %>
      <tr class="table_body">
        <td>
          <%= blog.name %>
        </td>
        <td>
          Posted <%= time_ago_in_words(blog.created_at) %> ago.
        </td>
        <td>
          <div class="button_group">
            <ul>
              <li><%= link_to "Ver",  blog_path(blog), :class => "minibutton"%></li>
              <% if current_user?(@user) %>
                <li><%= link_to "Editar", edit_blog_path(blog), :class => "minibutton" %></li>
                <li><%= link_to "Eliminar", blog_path(blog), :method => :delete, :confirm => "¿Esta seguro?", :class => "minibutton_danger" %></li>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>

  <% end %>
  <tr>
    <td colspan="3"><%= will_paginate @blogs %></td>
  </tr>

</table>




