<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "Ver perfil", @user %></span>
      <span><b>Eventos:</b> <%= @user.events.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
          <div class="user_avatars">
            <% @users.each do |user| %>
                <%= link_to gravatar_for(user, :size => 30), user %>
            <% end %>
          </div>
      <% end %>
    </section>
  </aside>

  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>

        <table id="table_event" class="table">

          <% @users.each do |user| %>
              <tr class="table_body">
                <td>
                  <%= user.name %>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  Eventos (<%= user.events.count %>)
                </td>
                <td>
                  <div class="button_group">
                    <ul>
                      <li><%= link_to "Ver perfil",  user_path(user), :class => "minibutton"%></li>
                    </ul>
                  </div>
                </td>
              </tr>

          <% end %>

        </table>
        <%= will_paginate %>
    <% end %>
  </div>
</div>