
<table class="table_feed_event">
  <tr>
    <td class="foto_user_event">
      <li>
        <%= link_to gravatar_for(feed_item.user), feed_item.user, :class => "foto", :alt => "Foto_perfil" %>
      </li>
    </td>
    <td class="info_event">
      <li>
        <span class="user">
        <%= link_to feed_item.user.name, feed_item.user %>
        </span>
      </li>
      <li>
        <span class="name">
          <%= feed_item.name %>
        </span>
      </li>
      <li>
        <span class="date">
          <%=  feed_item.date %>
        </span>
      </li>
    </td>
    <td class="descripcion">
      <li>
        <span class="description_span">
          <h5>Descripción</h5>
            <%= text_area_tag 'description_text', feed_item.description, :readonly => true%>
        </span>
      </li>
    </td>
    <td class="complement">
      <li>
        Estado: <%= select_estado_item(feed_item.estado)%> hace <%= time_ago_in_words(feed_item.updated_at) %>
      </li>
      <li>
        <%= link_to "Invitados", invitation_event_path(feed_item)%>
      </li>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <hr>
    </td>
  </tr>
</table>



