<section class="section_perfil_event">
    <table>
      <tr>
          <td rowspan="4" class="foto_events_new">
                <a href="<%= user_path(@current_user) %>">
                <%= gravatar_for @current_user, :size => 80 %>
            </a>
          </td>
      </tr>
      <tr>
          <td>
            <h2 class="nombre_enew">
                <%= @current_user.name %>
            </h2>
          </td>
      </tr>
      <tr>
          <td>
            <span>
                <%= link_to "Ver mi perfil", @current_user %>
            </span>
          </td>
      </tr>
      <tr>
          <td>
            <span>
                <%= pluralize(@current_user.events.count, "event") %>
            </span>
          </td>
      </tr>
    </table>
</section>

<section class="section_event_form">
  <h2>Crear un evento</h2>
  <%= form_for @event do |f| %>
      <% if @event.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-error">
              The form contains <%= pluralize(@event.errors.count, "errore") %>.
            </div>
            <ul>
              <% @event.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :name, "Nombre" %>
        <%= f.text_field :name, :placeholder => "Nombre del evento..." %>
      </div>
      <div class="field">
        <%= f.label :description, "Descripcion" %>
        <%= f.text_area :description, :placeholder => "Descripcion del evento...", :rows => 10 %>
      </div>
      <div class="field">
        <%= f.label :date, "Fecha del evento" %>
        <%= f.text_field :date, :readonly => true, :class => "datepicker" %>
      </div>
      <div class="field">
        <%= f.label :estado, "Estado" %>
        <%= f.select :estado, options_for_select(select_estado, "estado"), :prompt => "SELECCIONE UN ESTADO"%>
      </div>
      <%= f.submit "Post", :class => "btn btn-large btn-primary" %>
  <% end %>
</section>