<center>

<div class="center hero-unit">
  <br>
  <% if !signed_in? %>

      <div class="video">
        <%# video_tag(["oelo.m4v","oelo.avi"], :size => "480x270", :controls => true)%>
        <%# video_tag("oelo", :controls => true)%>

        <iframe width="480" height="270" src="http://www.youtube.com/embed/5CX2RAIyu3I?rel=0" frameborder="0" allowfullscreen>

        </iframe>

      </div>
  <h1>Bienvenido</h1>
  <h4>¿Ya est&aacute;s disfrutanto del maravilloso mundo de SocialBike?</h4>
  <br>
    <%= link_to "Crea tu cuenta gratis!", new_user_path, :class => "btn btn-large btn-primary" %>
    <hr class="btn_crear_cuenta">
    <%= link_to "Login", signin_path, :class => "btn btn-large btn-primary" %>
  <% else %>
      <%= form_tag({:action => 'oelo'})%>

          <h1>Invita a tus amigos</h1>
          <h2>Email</h2>
          <h2 style="font-size: 15px; margin-top: -25px;">Puedes incluir varios correos separados por coma</h2>
          <%= text_field_tag("email", "user")  %>
          <%= submit_tag "Enviar invitacion", :class => "btn btn-large btn-primary"%>


  <% end %>

</div>

  <div id="footer">
    <%= image_tag("footer_background.png") %>
    <!--
    <div class="box1">
        <ul>
          <li><%# link_to "Contactenos", "#" %></li>
          <li><%# link_to "Acerca de", "#" %></li>
          <li><%# link_to "Servicios", "#" %></li>
          <li><%# link_to "Noticias", "#" %></li>
        </ul>
    </div>
    <div class="box2">
      <ul>
        <li>Aliados</li>
        <li>
          <%# link_to image_tag("logosimbolo_eafit.png", :class => "img-rounded"), "http://www.eafit.edu.co", :target => "_blanck" %>
          <%# link_to image_tag("trochas_lost_logo.jpg", :class => "img-rounded trochas_lost_img"), "https://www.facebook.com/trochaslost", :target => "_blanck" %>
        </li>

      </ul>
    </div>
    -->
  </div>


</center>
