<!DOCTYPE html>
<html>
<head>
  <title><%= baseTitle %></title>
  <%= stylesheet_link_tag 'application', :media => 'screen' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner ">
    <div class="container">
      <center>
        <%= link_to (image_tag("sb.png")), root_path, :id => "logo" %>
      </center>
      <nav>
        <ul class="nav pull-right">

          <li><%= link_to "Inicio", root_path %></li>
          <% if signed_in? %>
              <li><%= link_to "Feed", feeds_path %></li>
              <li><%= link_to "Usuarios", users_path %></li>
              <li><%= link_to "Perfil", current_user %></li>
          <% end %>

          <% if signed_in? %>
              <li><%= link_to "Salir", signout_path, :method => "delete" %></li>
          <% else %>
              <li><%= link_to "Entrar", signin_path %></li>
              <li><%= link_to "Twitter", "/auth/twitter" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="contenido">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value.capitalize %>
      </div>
  <% end %>
</div>
<h2>Nombre: <%= current_user.inspect %></h2>
<%= yield %>

</body>
</html>
